<mat-card>
  <mat-vertical-stepper linear="true" #stepper>
    <mat-step [stepControl]="fgDonneesPerso">
      <form [formGroup]="fgDonneesPerso">
        <ng-template matStepLabel>Mes données personnelles</ng-template>
        <mat-grid-list cols="2" rowHeight="5:1">

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="firstCtrl" required>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Nom" formControlName="firstCtrl" required>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Prénom" formControlName="firstCtrl" required>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Adresse" formControlName="firstCtrl" required>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Téléphone" formControlName="firstCtrl" required>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date de naissance"formControlName="firstCtrl" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>


        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fgEntreprise">
      <form [formGroup]="fgEntreprise">
        <ng-template matStepLabel>Mon entreprise</ng-template>
        <mat-form-field>
          <input matInput placeholder="SIRET" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Précédent</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Créer mon compte</ng-template>
      Aprés la création de votre compte, un mail de confirmation sera envoyé à votre adresse mail
      <div>
        <button mat-button (click)="stepper.reset()">Valider</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>