<mat-card>
  <mat-vertical-stepper linear="true" #stepper>
    <mat-step [stepControl]="fgDonneesPerso">
      <form [formGroup]="fgDonneesPerso">
        <ng-template matStepLabel>Mes données de connexion</ng-template>

        <p>
          <mat-form-field>
            <input matInput class="tb" placeholder="Email" formControlName="firstCtrl" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input matInput class="tb" placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" formControlName="firstCtrl"
              required>
          </mat-form-field>
        </p>

        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fgEntreprise">
      <form [formGroup]="fgEntreprise">
        <ng-template matStepLabel>Mon entreprise</ng-template>
        <p>
          <mat-form-field>
            <input matInput class="tb" placeholder="SIRET" formControlName="secondCtrl" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput class="tb" placeholder="Numéro de contrat de cadre" formControlName="secondCtrl" required>
          </mat-form-field>
        </p>
        <div>
          <button mat-button matStepperPrevious>Précédent</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fgDonneesPerso">
      <form [formGroup]="fgDonneesPerso">
        <ng-template matStepLabel>Mes données personnelles</ng-template>
        <p>
          <mat-form-field>
            <input matInput class="tb" placeholder="Nom" formControlName="firstCtrl" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput class="tb" placeholder="Prénom" formControlName="firstCtrl" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput class="tb" placeholder="Téléphone" formControlName="firstCtrl" required>
          </mat-form-field>
        </p>
        <div>
          <button mat-button matStepperPrevious>Précédent</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Créer mon compte</ng-template>
      Aprés la création de votre compte, un mail de confirmation sera envoyé à votre adresse mail
      <div>
        <button mat-button (click)="stepper.reset()">Valider</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>