<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
  <span>Hardis Group, Appel d'offre Market Place</span>
</mat-toolbar>

<!--Log in.-->
<div *ngIf='!userLoggedIn && interface=="login"' class='loginDiv'>
  <mat-toolbar>
    Connectez vous
  </mat-toolbar>
  <mat-card class="logIn">

    <mat-card-content>
      <p>
        <mat-form-field>
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput placeholder="Nom d'utilisateur" [(ngModel)]="tUser">
          <!--mat-icon matSuffix>sentiment_very_satisfied</mat-icon-->
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" [(ngModel)]="tPassword">
          <!--mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon-->
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="bLoginClick()">Connexion</button>
      <button mat-button (click)="bCreerCompteClick()">Créer un compte</button>
      <p>
        <button mat-button (click)="bMDPOublieClick()">Mot de passe oublié</button>
      </p>
   </mat-card-actions>
  </mat-card>
</div>
<!--LoggedIn.-->

<span *ngIf='!userLoggedIn && interface=="signIn"'>
    <mat-toolbar>
        <button mat-icon-button (click)="backButtonClick()"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </mat-toolbar>
  <app-creer-compte></app-creer-compte>
</span>

